@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;800&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

.templateContent{
    width: 100%;
    background-color: #E5E5E5;
    height: 100vh;
}

.templateHeader{
    background-color: #FFFFFF;
}

.templateHeader p{
    font-size: 24px;
    font-weight: 800;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-left: 40px;
}

.templateBody {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    padding-bottom: 100px;
}

.bodyContent{
    width: 100%;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}