@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;800&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

.myLinksMainContent {
    display: flex;
    flex-direction: row;
}

.myLinksSideNav {
    width: 20%;
}

.myLinksRightContent {
    width: 80%;
}